/* body {
    background: #f1e5df;
  } */

.bg-img {
  /* The image used */
  background-image: url("../images/nik-owens-40OJLYVWeeM-unsplash.jpg");

  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  /* position: relative; */
  padding-bottom: 200px;
}

/* Position the navbar container inside the image */
/* .container {
  position: absolute;
  margin: 20px;
  width: auto;
} */

/* The navbar */
.topnav {
  background-color: transparent;
  padding: 30px 10px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1366px;
}

/* Navbar links */
.topnav a {
  float: left;
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  padding: 12px;
  line-height: 25px;
}

/* .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */

.topnav #logo {
  font-size: 35px;
  font-weight: bold;
}
.topnav a:hover {
  color: red;
}

.intro {
  margin-left: 4%;
  color: white;
  margin-top: 15%;
}
.intro h1 {
  font-size: 80px;
}
.bg-img button {
  border-radius: 8px;
  margin-left: 4%;
  background-color: #bb9976;
  padding: 14px 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: large;
}
.bg-img button:hover {
  background: red;
}
.about {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
.menu {
  background-image: url(../images/pizza-gddead2f81_1920.jpg);
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  height: fit-content;
}
.menu h1 {
  text-align: center;
  margin-top: 7%;
  color: #bb9976;
}
.price{
    margin-left: 3%;
    color: #bb9976;

}
.pizza-list{
    margin-left: 4%;
    color: #bb9976;
}

.review p {
  text-align: center;
  margin-top: 5%;
}
.review {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 2px 20px;
  height: 200px;
}

footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  background-color: #bb9976;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}










