* {
  font-family: "Courgette", cursive;
}
body {
  background: #e9d6cd;
}

.bg-img {
  background-image: url("../images/nik-owens-40OJLYVWeeM-unsplash.jpg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 200px;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  font-size: xx-large;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.intro {
  margin-left: 3%;
  color: white;
  margin-top: 15%;
}
.intro h1 {
  font-size: 80px;
}
button {
  background-color:#bb7e63;
  border: none;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px
}
